.box1 {
    background-color:#8a2be2;
    height:120px;
}

.box2 {
    background-color:white;
    height:60px;
}

.redes {
    font-size: 60px;
    color:white;
}

.texto1 {
    color:white;
}

.texto2 {
    color:#8a2be2;
}

