.caixa {
    background-color:white;
}

.titulo {
    color:#8a2be2 !important;
    font-weight:bold !important;
}

.titulo2 {
    color:grey !important;
    font-weight:bold !important;
}

.botao {
    border-color:#8a2be2 !important;
    background-color:#8a2be2 !important;
    color:white !important;
}

.postagens {
    background-color:#8a2be2;
}